:root {
  --azul-color: rgba(33, 150, 243, 1);
  --negro-color: rgba(33, 33, 33, 1);
  --gris-color: rgba(117, 117, 117, 1);
  --blanco-color: rgba(255, 255, 255, 1);
  --anegrado-color: rgba(47, 48, 58, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--negro-color);
}

ul {
  list-style: none;
}

.logo {
  text-decoration: none;
  color: var(--azul-color);
  font-size: 26px;
  line-height: 30.52px;
  font-weight: 700;
}

.header-navegacion {
  text-decoration: none;
  color: var(--negro-color);
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 500;
}
.header-navegacion:hover {
  color: var(--azul-color);
}

.info {
  text-decoration: none;
  color: var(--gris-color);
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 500;
}
.info:hover {
  color: var(--azul-color);
}

h1 {
  color: var(--blanco-color);
  line-height: 60px;
  font-weight: 900;
}

.section-h3 {
  background-color: rgba(47, 48, 58, 1);
}
.solution {
  font-size: 44px;
}

button {
  color: var(--blanco-color);
  background-color: var(--azul-color);
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
}
botton:hover {
  color: var(--azul-color);
}
.button-porfolio {
  color: var(--negro-color);
  background: rgba(245, 244, 250, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.button-porfolio:hover {
  color: var(--azul-color);
}

h3 {
  color: var(--negro-color);
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 700;
}

.main-h3 {
  color: var(--gris-color);
}

.main-p {
  color: var(--gris-color);
  font-size: 14px;
  line-height: 24px;
}

h2 {
  color: var(--negro-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
}

.section-h2 {
  line-height: 46.24px;
}

.portfolio-h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
}

.porfolio-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  color: var(--gris-color);
  text-decoration: none;
}

h3 {
  color: var(--negro-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}

.main-p {
  color: var(--gris-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}

.footer-add {
  color: var(--gris-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.pais {
  color: var(--blanco-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

footer {
  background-color: var(--anegrado-color);
}
